<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947550860609-i0ukl2prn70rv87ku3s9s0bn8qtub459.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947550860609-i0ukl2prn70rv87ku3s9s0bn8qtub459</string>
	<key>API_KEY</key>
	<string>AIzaSyBTjanw73zITJlOujtR356BMqnMYVLl2LU</string>
	<key>GCM_SENDER_ID</key>
	<string>947550860609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zytest.moonios.Moon</string>
	<key>PROJECT_ID</key>
	<string>speed-tunnel-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>speed-tunnel-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:947550860609:ios:25850001fe29c01ce9ddc0</string>
</dict>
</plist>
